/* It starts completely empty. I wish you luck. */

body
{
    margin: 1rem;
}

/* setting up grid */
#wrapper
{
    display: grid;
    height: 100vh;
    grid-template-areas:
        "logo" 
        "menu" 
        "intro" 
        "playground" 
        "footer";
   
}

@media screen and (min-width: 850px)
{
    #wrapper
    {
        grid-template-columns: 500px 1fr;
        grid-template-rows: 345px auto auto auto;
    
        grid-template-areas:
        "logo       intro"
        "menu       menu"
        "playground playground"
        "footer     footer";
    }
}

.game
{
    text-indent: -100px;
    width: 500px;
    height: 345px;
    background: url(../images/tetris-logo.png) no-repeat;
    text-indent: -9999px;
}


/* drop down menu */

ul.menu
{ 
    grid-area: menu;
}

ul.menu
{
    flex-wrap:wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    transition: transform 0.1s ease-in red 0.5 linear;
}

.menu a {
    display: block;
    background: gray;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.menu li {
    width: 25%;
}

@media (max-width: 550px) {
	.menu li {
		width: 100%;
	}
}

.menu a:hover {
	background: red;
	color: yellow;
    transform:scale(1.1);
    
    /* background-color 0.5s linear; */
}

/* sub menu */
ul.menu ul li {
    width:100%;
}
ul.menu ul {
    display:none;
}
ul.menu li:hover ul {
    display:flex;
}

.menu .submenu li>a {
    background:red;
    color:yellow;
}
.menu .submenu>a:after {
    content: "+";
    padding-left:5px;

}


/* interactive tetris playground grid */
#tetgrid {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(6, 100px);
} 

div.tet {
    overflow: visible;
}

#o {
    grid-column: 1/3;
    grid-row: 1/span 2;
}

#i {
    grid-column: 3/-1;
    grid-row: span 1;
}
#z img {
    transform: translateX(305px) 
    translateY(-100px)
    rotate(90deg);
    transform-origin: 0 0;
    grid-column: 2/span 2;
    grid-row: 2/span 3;
}

#l img
{
    transform-origin: 0 0;
    transform: translateX(-300px) 
    translateY(405px)
    rotate(-90deg);
    grid-column: 2/span 2;
    grid-row: 2/span 3;
}

#j img
{
    transform-origin: 0 0;
    transform: translateX(200px) 
    translateY(0px)
    rotate(90deg);
    grid-column: 2/span 2;
    grid-row: 2/span 3;
}

#t img
{
    transform-origin: 0 0;
    transform: translateX(205px) 
    translateY(-100px)
    rotate(90deg);
    grid-column: 2/span 2;
    grid-row: 2/span 3;
}

#s img
{
    transform-origin: 0 0;
    transform: translateX(202px) 
    translateY(0px)
    rotate(90deg);
    grid-column: 2/span 2;
    grid-row: 2/span 3;
}



img {
    transition-property: transform;
    transition-duration: 2s;
}
img:hover {
    transform: rotate(-90deg);
}

h1.game { grid-area: logo; }

#introduction 
{ 
    grid-area: intro; 
    margin: 2rem;
}
#tetgrid { grid-area: playground; }
footer { grid-area: footer; }